@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #13133a;
    font-family: 'Montserrat', sans-serif;
}

/* styles/Header.css */
.custom-max-w {
    max-width: 75rem; /* Ajuste o valor conforme necessário */
  }