@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
    background-color: #13133a;
    font-family: 'Montserrat', sans-serif;
    
}

/* styles/Header.css */
.custom-max-w {
    max-width: 75rem; /* Ajuste o valor conforme necessário */
  }